/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    background-color: white;
    
    
}
.influencer{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 50px;
   align-items: center;
}
.image{
    margin-bottom: 20px;
   

}
.para{
margin-left: 20px;
align-items: center;
}
.para button{
    size: 200px;
    color: white;
    background-color: deeppink;
    border: 1px solid deeppink;
    border-radius: 30px;
    padding: 10px;

}
/* second part */
.product{
    width: 300px;
    padding: 10px;
    background-color: wheat;
}
   .details{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
   } 
